<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whether App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Welcome to whether app</h1>
    <form>
        <input type="text" placeholder="Location">
        <button>Search</button>

        <p id="load"></p>
        <div>
            <p>Country:<label id="country"></label></p>
            <p>State:<label id="state"></label></p>
            <p>Time Zone:<label id="tz"></label></p>
            <p>Whether:<label id="whe"></label></p>
            <p>Real Temperature:<label id="rt"></label></p>
            <p>Feels Like:<label id="fl"></label></p>
        </div>
    </form>




    <script src="/js/app.js"></script>
</body>

</html>